<h2>New Listing</h2>

<%= form_for(@listing) do |f| %>

  <div><%= f.label :title %><br />
  <%= f.text_field :title, autofocus: true %></div>

  <div><%= f.label :length_in_days %><br />
  <%= f.number_field :length_in_days %></div>

  <div><%= f.label :information %><br />
  <%= f.text_area :information %></div>

  <%= f.hidden_field :coach_id, :value => current_user.id %>  

  <div><%= f.submit "Submit" %></div>
  
<% end %>

